{% extends 'base.html' %}

{% block content %}
    <form action="" method="post" class="form" novalidate>
        {{ form.hidden_tag() }}
        <h1>ToDo List</h1>
        <h2>Login</h2>
        <p class="outher-p">
            {{ form.username.label }} <br>
            {{ form.username(size=32) }}
            {% for error in form.username.errors %}
                <p class="error-info">{{ error }}</p>
            {% endfor %}
        </p>
        <p class="outher-p">
            {{ form.password.label }} <br>
            {{ form.password(size=32) }}
            {% for error in form.password.errors %}
                <p class="error-info">{{ error }}</p>
            {% endfor %}
            <p >
                Forgot password? Shame on you, you have to create new account ;D
            </p>
        </p>
        <p class="outher-p">
            {{ form.remember_me() }}
            {{ form.remember_me.label }}
        </p>
        <p>{{ form.submit() }}</p>
        <a href="{{ url_for('auth.register') }}">Create new account</a>
    </form>

{% endblock content %}
