* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline-style: none;
}

i {
  pointer-events: none;
}

body {
  background-color: antiquewhite;
  font-family: "Open Sans", sans-serif;
  background-repeat: no-repeat;
}

button {
  background: none;
  border: none;
}

.hide {
  display: none;
}

.error-popup {
  z-index: 10;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: black;
  border: 5px solid tomato;
  border-radius: 20px;
  min-height: 150px;
  width: 260px;
  top: -100vh;
  left: calc(50% - 130px);
  color: tomato;
  transition: transform 0.2s;
}
.error-popup p {
  margin: 20px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}
.error-popup .popup-button {
  width: 50px;
  height: 36px;
  background: none;
  border: 2px solid tomato;
  border-radius: 6px;
  color: tomato;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 20px;
  cursor: pointer;
}

.show-popup {
  transform: translateY(110vh);
}

.main {
  position: relative;
  width: 100%;
  max-width: 1200px;
  min-height: 100vh;
  margin: 0px auto;
  overflow-x: hidden;
}

.nav {
  z-index: 6;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  right: 0;
  height: 0;
}
.nav .icon {
  z-index: 7;
  position: absolute;
  padding: 24px;
}
.nav .icon .fa-solid {
  font-size: 36px;
}
.nav .icon .fa-bars {
  color: deepskyblue;
}
.nav .icon .fa-xmark {
  color: black;
}
.nav .icon .fa-angle-right {
  color: deepskyblue;
}
.nav .menu-icon {
  right: 0;
}
.nav .menu {
  position: absolute;
  top: -300px;
  padding-top: 11px;
  height: 200px;
  width: 100%;
  background-color: rgba(0, 191, 255, 0.8);
  text-align: center;
  transition: transform 0.3s;
}
.nav .menu .menu-list {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.nav .menu .menu-list li a {
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  text-transform: uppercase;
  color: black;
  transition: color 0.3s;
}
.nav .show-menu {
  transform: translateY(300px);
}
.nav .bubble {
  display: none;
  position: relative;
  overflow: hidden;
}
.nav .bubble a {
  position: relative;
  display: inline-block;
  height: 100%;
  text-transform: uppercase;
  color: #eee;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}
.nav .main-bubble {
  aspect-ratio: 1;
  border-radius: 50%;
  position: absolute;
  bottom: -240px;
  right: -50px;
  width: 400px;
  background-color: black;
  box-shadow: 0 0 10px black;
  border: 5px solid black;
}
.nav .main-bubble .main-link {
  aspect-ratio: 1;
  padding-top: 240px;
  padding-left: 55px;
  line-height: 100%;
  font-size: 26px;
}
.nav .logout-bubble {
  position: absolute;
  top: 140px;
  left: 140px;
  width: 150px;
  height: 400px;
  background-color: #601111;
  box-shadow: 0 0 10px #601111;
  transform: rotate(60deg);
}
.nav .logout-bubble .logout-link {
  width: 100%;
  height: 100%;
  left: 0;
  padding-top: 240px;
  font-size: 26px;
}
.nav .logout-bubble .logout-link p {
  position: relative;
  bottom: 100px;
  transform: rotate(300deg);
}
.nav a:hover {
  color: gold;
}

.header {
  z-index: 1;
  position: relative;
  height: 200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("../img/header-640.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.header .shadow {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 10px black;
}
.header h1 {
  margin-top: 20px;
  z-index: 1;
  color: #eee;
  font-size: 40px;
}
.header h1 span {
  color: deepskyblue;
}
.header h2 {
  margin-top: 10px;
  color: #eee;
  z-index: 1;
}

.aside {
  z-index: 5;
  position: absolute;
  top: 0;
  left: -150%;
  width: 100%;
  transition: transform 0.3s;
}
.aside .lists-errors {
  font-weight: bold;
  padding-bottom: 10px;
  font-size: 20px;
}
.aside .lists-mobile {
  position: relative;
  top: 0;
  padding-top: 90px;
  min-height: 100vh;
  background-color: #ffac81;
  background-image: linear-gradient(315deg, #ffac81 0%, #ff928b 74%);
  text-align: center;
}
.aside .lists-mobile ul {
  list-style: none;
}
.aside .lists-mobile ul li {
  padding: 10px;
  color: black;
  font-size: 18px;
  margin: 0 auto;
}
.aside .lists-mobile ul li input {
  background: none;
  border: none;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  color: black;
  width: 40%;
  cursor: pointer;
}
.aside .lists-mobile ul li ::-moz-placeholder {
  color: black;
}
.aside .lists-mobile ul li :-ms-input-placeholder {
  color: black;
}
.aside .lists-mobile ul li ::placeholder {
  color: black;
}
.aside .lists-mobile ul li .tools {
  margin-left: 3%;
}
.aside .lists-mobile ul li .tools .tools-button {
  padding: 10px;
  font-size: 16px;
}
.aside .lists-mobile ul .add-list input {
  cursor: auto;
}
.aside .lists-mobile ul .add-list ::-moz-placeholder {
  color: darkslategray;
}
.aside .lists-mobile ul .add-list :-ms-input-placeholder {
  color: darkslategray;
}
.aside .lists-mobile ul .add-list ::placeholder {
  color: darkslategray;
}
.aside .lists-pc {
  display: none;
  padding-top: 50px;
  width: 100%;
  min-height: calc(100vh - 200px);
  border-right: 5px solid black;
  background-color: #ffac81;
  background-image: linear-gradient(315deg, #ffac81 0%, #ff928b 74%);
  text-align: center;
}
.aside .lists-pc ul {
  list-style: none;
}
.aside .lists-pc ul li {
  color: black;
  margin: 0 auto;
  padding: 10px;
}
.aside .lists-pc ul li input {
  cursor: pointer;
  background-color: transparent;
  border: none;
  resize: none;
  outline: none;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  color: black;
  width: 50%;
  height: 22px;
}
.aside .lists-pc ul li ::-moz-placeholder {
  -moz-transition: color 0.25s;
  transition: color 0.25s;
  font-size: 20px;
  color: black;
  border: none;
}
.aside .lists-pc ul li :-ms-input-placeholder {
  -ms-transition: color 0.25s;
  transition: color 0.25s;
  font-size: 20px;
  color: black;
  border: none;
}
.aside .lists-pc ul li ::placeholder {
  transition: color 0.25s;
  font-size: 20px;
  color: black;
  border: none;
}
.aside .lists-pc ul li a:hover ::-moz-placeholder {
  color: gold;
}
.aside .lists-pc ul li a:hover :-ms-input-placeholder {
  color: gold;
}
.aside .lists-pc ul li a:hover ::placeholder {
  color: gold;
}
.aside .lists-pc ul li .tools {
  margin-left: 1%;
}
.aside .lists-pc ul li .tools .tools-button {
  cursor: pointer;
  padding: 0 10px;
  font-size: 16px;
  transition: color 0.25s;
}
.aside .lists-pc ul li .tools .tools-button:hover {
  color: gold;
}
.aside .lists-pc ul .add-list .tools {
  margin-left: calc(1% + 40.16px);
}
.aside .lists-pc ul .add-list ::-moz-placeholder {
  color: darkslategray;
}
.aside .lists-pc ul .add-list :-ms-input-placeholder {
  color: darkslategray;
}
.aside .lists-pc ul .add-list ::placeholder {
  color: darkslategray;
}
.aside .lists-pc ul .add-list input {
  cursor: auto;
}

.main-list li {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 10px;
  color: black;
  background-color: lightgray;
  border-bottom: 3px solid darkslategray;
  font-size: 18px;
}
.main-list li input {
  cursor: default;
  background: none;
  border: none;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  color: black;
  width: 70%;
}
.main-list li ::-moz-placeholder {
  color: black;
  font-size: 18px;
}
.main-list li :-ms-input-placeholder {
  color: black;
  font-size: 18px;
}
.main-list li ::placeholder {
  color: black;
  font-size: 18px;
}
.main-list li .done::-moz-placeholder {
  text-decoration: line-through;
  font-style: italic;
  color: darkslategray;
}
.main-list li .done:-ms-input-placeholder {
  text-decoration: line-through;
  font-style: italic;
  color: darkslategray;
}
.main-list li .done::placeholder {
  text-decoration: line-through;
  font-style: italic;
  color: darkslategray;
}
.main-list li .tools .tools-button {
  cursor: pointer;
  padding: 6px;
  font-size: 16px;
  transition: color 0.25s;
}
.main-list li .tools .tools-button:hover {
  color: #921212;
}
.main-list .add-task input {
  cursor: auto;
}
.main-list .add-task ::-moz-placeholder {
  color: darkslategray;
}
.main-list .add-task :-ms-input-placeholder {
  color: darkslategray;
}
.main-list .add-task ::placeholder {
  color: darkslategray;
}
.main-list .add-task .tools-button {
  padding: 4px;
}
.main-list .add-task .tools-button i {
  font-size: 20px;
}

.show-aside {
  transform: translateX(150%);
}

.form {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin: 10vh auto;
  padding: 20px;
}
.form input {
  border: 2px solid darkslategray;
  border-radius: 5px;
}
.form input[type=text],
.form input[type=password] {
  height: 24px;
  font-size: 14px;
}
.form p {
  margin-top: 5px;
  text-align: center;
}
.form .outher-p {
  margin-top: 20px;
}
.form .error-info {
  color: tomato;
  font-weight: bold;
}
.form input[type=submit] {
  margin-top: 20px;
  width: 100px;
  height: 30px;
  background-color: deepskyblue;
  font-size: 16px;
  font-weight: bold;
}
.form a {
  display: inline-block;
  margin-top: 15px;
  padding: 5px;
  text-decoration: none;
  font-weight: bold;
  color: black;
}

.error-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.error-container h1 {
  font-size: 128px;
}
.error-container h3 {
  font-size: 32px;
}
.error-container p {
  margin: 20px;
}
.error-container .fun-fact-box {
  width: 92%;
  max-width: 400px;
  border-top: 5px solid deepskyblue;
  border-bottom: 5px solid deepskyblue;
  border-left: 5px solid tomato;
  border-right: 5px solid tomato;
  background-color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
}
.error-container .fun-fact-box p {
  font-weight: bold;
}
.error-container .ff-outro {
  font-weight: bold;
}

@media (min-width: 376px) {
  .header h1 {
    font-size: 46px;
  }
}
@media (min-width: 576px) {
  .header h1 {
    font-size: 52px;
  }
  .aside .lists-mobile ul li input {
    font-size: 24px;
  }
  .aside .lists-mobile ul li ::-moz-placeholder {
    font-size: 24px;
  }
  .aside .lists-mobile ul li :-ms-input-placeholder {
    font-size: 24px;
  }
  .aside .lists-mobile ul li ::placeholder {
    font-size: 24px;
  }
  .main-list {
    padding-top: 30px;
  }
  .main-list li {
    margin: 15px 8%;
    border: 2px solid darkslategray;
    border-radius: 20px;
  }
  .form {
    border: 3px solid darkslategray;
    border-radius: 30px;
    box-shadow: 0 0 5px darkslategray;
  }
}
@media (min-width: 992px) {
  ::-webkit-scrollbar {
    position: relative;
    background-color: transparent;
    width: 10px;
  }
  ::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3);
    position: relative;
    left: 3px;
    border-radius: 5px;
  }
  .nav {
    position: fixed;
  }
  .nav .menu,
.nav .icon {
    display: none;
  }
  .nav .bubble {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header {
    position: fixed;
    width: 90%;
    background-image: url("../img/header-1280.jpg");
  }
  .header h1 {
    margin-right: 15%;
  }
  .header h2 {
    margin-right: 15%;
  }
  .list-content {
    display: flex;
  }
  .aside {
    z-index: 0;
    position: relative;
    left: 0;
    top: 200px;
    display: inline-block;
    width: 30%;
    height: calc(100vh - 200px);
    overflow-y: auto;
  }
  .aside .lists-mobile {
    display: none;
  }
  .aside .lists-pc {
    display: inline-block;
  }
  .main-list {
    display: inline-block;
    position: relative;
    top: 200px;
    width: 70%;
    height: calc(100vh - 200px);
    padding-top: 50px;
    overflow-y: auto;
  }
  .main-list .tasks-list {
    margin-bottom: 20px;
  }
  .main-list .tasks-list .tools .tools-button {
    padding: 10px;
  }
}
@media (min-width: 1200px) {
  .main {
    margin: 5vh auto;
    border: 5px solid black;
    border-top-right-radius: 80px;
    border-bottom-left-radius: 80px;
    box-shadow: 0 0 10px black;
    overflow-x: hidden;
    min-height: auto;
    height: 90vh;
  }
  .nav {
    position: -webkit-sticky;
    position: sticky;
  }
  .header {
    width: 1000px;
  }
  .aside {
    min-height: auto;
    height: calc(90vh - 200px - 10px);
  }
  .aside .lists-pc {
    min-height: calc(90vh - 200px - 10px);
  }
  .main-list {
    min-height: auto;
    height: calc(90vh - 200px - 10px);
  }
}/*# sourceMappingURL=style.css.map */