{% extends 'base.html' %}

{% block content %}
<div class="main">
    <nav class="nav">
        <!-- mobile nav -->
        <button class="menu-icon bars-icon">
            <i class="fa-solid fa-bars"></i>
        </button>
        <button class="hide menu-icon xmark-icon">
            <i class="fa-solid fa-xmark"></i>
        </button>

        <div class="menu">
            <ul class="menu-list">
                <li><a href="{{ url_for('index') }}">Home</a></li>
                <li><a href="https://github.com/orzehhowski" target="_blank" rel="noopener">Author</a></li>
                <li><a href="{{ url_for('logout') }}">
                    Logout</a></li>
            </ul>
        </div>
        
        <!-- nav for pc -->
        <div class="main-bubble bubble">
            <a class="main-link" href="{{ url_for('index') }}">Home</a>
            <div class="author-bubble bubble">
                <a class="author-link" href="https://github.com/orzehhowski" target="_blank" rel="noopener">Author</a>       
            </div>
            <div class="logout-bubble bubble">
                <a class="logout-link" href="{{ url_for('logout') }}">
                    Logout
                </a>
            </div>
        </div>
    </nav>

    <header class="header">
        <div class="shadow"></div>
        <h1>ToDo <span>List</span></h1>
    </header>
    <aside class="aside">

    </aside>
    <div style="height: 100vh; width: 100%"></div>
</div>
{% endblock content %}