{% extends 'base.html' %}

{% block content %}
<div class="main">

    <div class="error-popup popup">
        <div class="lists-errors">
            <p></p>
        </div>
        <button class="popup-button">ok</button>
    </div>

    <div class="how-to-popup popup">
        <p>Hello, {{current_user.username}}! <br><br> On the left side (click the top-left arrow if You're mobile) You can see table of Your ToDo lists. You're able to add, edit, delete and choose active list. Name of active list is displayed on header. Inside the main section You can see tasks in active list, which You can edit, delete and mark as done.</p>
        <button class="popup-button">Got it!</button>
    </div>
    <nav class="nav">
        <!-- mobile nav -->
        <button class="icon menu-icon bars-icon">
            <i class="fa-solid fa-bars"></i>
        </button>
        <button class="hide icon menu-icon xmark-icon-menu">
            <i class="fa-solid fa-xmark"></i>
        </button>

        <button class="icon aside-icon right-arrow-icon">
            <i class="fa-solid fa-angle-right"></i>
        </button>
        <button class="hide aside-icon icon xmark-icon-lists">
            <i class="fa-solid fa-xmark"></i>
        </button>


        <div class="menu">
            <ul class="menu-list">
                <li><a href="https://github.com/orzehhowski" target="_blank" rel="noopener">Author</a></li>
                <li><a class="how-to-link" href="#">How to use</a></li>
                <li><a href="{{ url_for('logout') }}">
                    Logout</a></li>
            </ul>
        </div>


        <!-- nav for pc -->
        <div class="nav-pc">
            <a class="author-link" href="https://github.com/orzehhowski" target="_blank" rel="noopener"><p>Author</p></a>
            <a class="how-to-link" href="#"><p>How to use</p></a>
            <a class="logout-link" href="{{ url_for('logout') }}"><p>logout</p></a>
        </div>
    </nav>
    
    <header class="header">
        <div class="shadow"></div>
        <h1>ToDo <span>List</span></h1>
        <h2>list name</h2>
    </header>
    <div class="list-content">

        <aside class="aside">
            <div class="lists-mobile hide">
                
                <ul class="lists-list">
                    {% for l in lists %}
                    
                    <li>
                        <a href="#"><input type="text" placeholder="{{ l.name }}" data-oldname="{{ l.name }}" readonly></a>
                        <span class="tools">
                            <button class="tools-button edit-list-button">
                            <i class="fa-solid fa-pen"></i>
                        </button>
                        <button class="tools-button delete-list-button">
                            <i class="fa-solid fa-trash-can"></i>
                        </button>
                    </span>
                </li>
                {% endfor %}
                <li class="add-list">
                    <input type="text" placeholder="list name..." size="8">
                    <span class="tools">
                        <button class="tools-button">
                            <i style="color:transparent" class="fa-solid fa-plus"></i>
                        </button>
                        <button class="tools-button add-list-button">
                            <i class="fa-solid fa-plus"></i>
                        </button>
                    </span>
                </li>
            </ul>
        </div>
        
        <div class="lists-pc">

            <ul class="lists-list">
                {% for l in lists %}
                
                <li>
                    <a href="#"><input type="text" placeholder="{{ l.name }}" size="12" readonly></a>
                    <span class="tools">
                        <button class="tools-button edit-list-button">
                            <i class="fa-solid fa-pen"></i>
                        </button>
                        <button class="tools-button delete-list-button">
                            <i class="fa-solid fa-trash-can"></i>
                        </button>
                    </span>
                </li>
                {% endfor %}
                <li class="add-list">
                    <input type="text" placeholder="list name..." size="12">
                    <span class="tools">
                        <button class="tools-button add-list-button">
                            <i class="fa-solid fa-plus"></i>
                        </button>
                    </span>
                </li>
            </ul>
        </div>

        </aside>

        <section class="main-list">
            <ul class="tasks-list">
                <li class="task add-task">
                    <input type="text" placeholder="type task name...">
                    <span class="tools">
                        <button class="tools-button add-task-button">
                            <i class="fa-solid fa-plus"></i>
                        </button>
                    </span>
                </li>
            </ul>
        </section>
    </div>
</div>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
{% endblock content %}