{% extends 'base.html' %}

{% block content %}
    <form action="" method="post" class="form" novalidate>
        {{ form.hidden_tag() }}
        <h1>ToDo List</h1>
        <h2>Register</h2>
        <p class="outher-p">
            {{ form.username.label }} <br>
            {{ form.username(size=32) }}
            {% for error in form.username.errors %}
                <p class="error-info">{{ error }}</p>
            {% endfor %}
        </p>
        <p class="outher-p">
            {{ form.password.label }} <br>
            {{ form.password(size=32) }}
            {% for error in form.password.errors %}
                <p class="error-info">{{ error }}</p>
            {% endfor %}
        </p>
        <p class="outher-p">
            {{ form.password_repeat.label }} <br>
            {{ form.password_repeat(size=32) }}
            {% for error in form.password_repeat.errors %}
                <p class="error-info">{{ error }}</p>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
        <a href="{{ url_for('login') }}">I allready have an account</a>
    </form>

{% endblock content %}